:root{
    --red-darken-1:#FF0000;
    --red-darken-2:#e03226;

    --grey-darken-1: #eeeeee;
    --grey-darken-2: #afafaf;
    --grey-darken-3: #a3a3a3;
    --grey-darken-4: #b8b8b8;
    --grey-darken-5: #525252;
    --grey-darken-6: #6f6f6f;
    --grey-darken-7: #777777;
    --grey-darken-8: #000000;

    --link-color:var(--grey-darken-9);
    --link-active-color:var(--grey-darken-10);
    --primary-color:var(--red-darken-1);
    --secondary-color:var(--red-darken-2);

    --section-title-color:var(--grey-darken-1);
    --product-title:var(--grey-darken-6);
    --text-color:var(--grey-darken-6);

}